{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


{% if error == "no" %}
<script>
    alert(' Password Changed Successfully ');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert(' Invalid Login Credentials , Try Again ');
</script>
{% endif %}


<div class="container mt-5" style="background-color : whitesmoke">
<div class="row">
    <div class="col-sm-6">
        <br>
       <img src =" {%static 'images/pass.jpg'%}" style="width:90% ; height : 400px">
    </div>
    <div class="col-sm-6"><br>
        <h2 class="text-center" style="font-family:'poppins'"> CHANGE PASSWORD </h2>
        <hr>

       <form method="post">
           {% csrf_token %}
           <label> Old Password</label>
           <br>
           <input type = "password" class="form-control" placeholder="Enter Old Password" name="old" >
           <br>
             <label> New Password</label>
           <input type = "password" class="form-control" placeholder="Enter New Password" name="new">
           <br>
           <label> New Password</label>
           <input type = "password" class="form-control" placeholder="Re Enter New Password" name="confirm">

           <input type="submit" class="btn text-white mt-4" style="width: 120px; background-color:FDA403; border:none; font-weight:bold" value="RESET" name="SUBMIT">
       </form>
        <br>
    </div>


</div>
</div>
<br>


{% endblock %}


