{% extends 'navigation.html' %}
{% load static %}
{% block body %}


<div style="background-color :222222; width : 100% ; height : 70px">
<h3 class="text-center container pt-4 " style="color:white;font-family:'poppins'">Contact Us </h3>
</div>

<div class="container">

    
    <br><br>

    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.154878682213!2d77.35933137510092!3d23.31013877897332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c6633e4585727%3A0x296f51f7ef0498c7!2sRajiv%20Gandhi%20Proudyogiki%20Vishwavidyalaya!5e0!3m2!1sen!2sin!4v1710831510976!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  width="100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
        <div class="col-sm-6 mt-5">
            <p><i class="fas fa-envelope"></i> Email ID : paridhishri0406@gmail.com </p>
            <p><i class="fas fa-phone-square"></i> Contact : 6666666666 </p>
            <p><i class="fas fa-address-card"></i> Address : RGPV,<br>
                Airport Road,<br>
                Bhopal - 462038<br>
                Madhya Pradesh (M.P.)<br>
                India <br></p>
            <p><i class="far fa-clock"></i> Office Hours : 9:00 am to 6:00 pm </p>
            <p> Follow Us : </p>
            <a href="#"> <i class="fab fa-facebook-f "></i> </a>
            <a href="#"> <i class="fab fa-twitter pl-5"></i> </a>
            <a href="#"> <i class="fab fa-telegram-plane pl-5"></i> </a>

        </div>
    </div>




</div>
<br><br>
{% endblock %}